body {
  background-color: #25282a;
}

.forgot {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}

#forgotPassForm {
  text-align: center;
}
 #forgotBtn {
   background-color: red;
   border: none;
   color: white;
   padding: 10px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 26px;
   cursor: pointer;
   margin-top: 15px;
 }

.logo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
